:root {
  --primary-color: #a7d2fa;
  --secondary-color: #2a2fa8;
  --tertiary-color: #032254;
  --accent-color1: #960759;
  --accent-color2: rgba(216, 99, 31, 0.4);
  --accent-color3: rgba(142, 183, 222, 1.0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #a7d2fa;
  background: linear-gradient( #a7d2fa, #a7d2fa, #1c468a) fixed;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  /* background: linear-gradient( #a7d2fa, #032254) fixed;*/
  background-color: #a7d2fa ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 35px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header img {
 margin: 0;
 padding: 0;
 size: 20px;
 height: 110px;
 width: 110px;
}