:root {
  --primary-color: #a7d2fa;
  --secondary-color: #2a2fa8;
  --tertiary-color: #032254;
  --accent-color1: #960759;
  --accent-color2: (216, 99, 31, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   /*background-color: #a7d2fa;*/
  background: linear-gradient( #a7d2fa, #032254) fixed;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header img {
 margin: 0;
 padding: 0%;
 size: 20px;
 height: 110px;
 width: 110px;
 /*position: fixed;*/
}

/*
header h1 {
  margin: 20px;
  font-size: 40px;
  color: #2a2fa8;
  text-shadow: 0 0 5px rgba(3, 34, 84,.3);
  flex: 0;
  padding: 0;
}*/

header a {
color:#032254;
}

header nav {
  margin: 5px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 0;
}

header nav ul li a {
  padding: 10px, 18px;
  margin: 10px;
  font-size: 1.6vw;
  text-shadow: 0 0 10px rgba(150, 7, 88, 0.4);
}

main  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%
}


.logo {
  width:35%;
 
}
.logo img {
  box-shadow:  0 0 15px rgba(150, 7, 88, 0.4);
  border-radius: 50%;
}


 .hero  h2 {
   width: 100%;
   text-align: center;
   font-size: 5vw;
   font-size: 8vh;
   color :#032254;
   padding-top: 120px;
   padding-bottom: 200px;
   border-bottom-color: white;
 }

 
.feature {
  width: 55%;
  margin: 0 20px;
  background-color: #a7d2fa;
  /* border-radius: 5% / 50%; */
}

.feature img {
  width: 100%;
  opacity: 0.5;
  height: 400px;
  /* border-radius: 5% / 50%; */
} 

.ppp {
  background-color: #2a2fa8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  margin: 0 20px;
  flex: 1;
  height: 400px;
  /* border-radius: 5% / 50%; */
}

.ppp h3 {
  color:#a7d2f6;
  font-size: 3.5vh;
  margin-top: 30px;
  text-align: center;
}

.ppp p {
  margin: 0% 20px;
  line-height: 1.5;
  text-align: center; 
}

.web-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; 
  width: 100%;
  height: 400px;
}

.web-project {
  background-color: #2a2fa8;
  margin: 20px;
  color: #a7d2f6;
  text-align: center;
  flex: 1;
}

.project-description h5 {
  font-size: 20px;
  margin-bottom: 15px;
}

.project-description p {
  margin: 0% 20px;
  /* font-size: 2.25vh; */
  line-height: 1.5;
  text-align: center; 
}


.dot {
  height: 10px;
  width: 10px;
  background-color: #a7d2fa;
  border-radius: 50%;
  display: inline-block;
}

