:root {
  --primary-color: #a7d2fa;
  --secondary-color: #2a2fa8;
  --tertiary-color: #032254;
  --accent-color1: #960759;
  --accent-color2: rgba(216, 99, 31, 0.4);
  --accent-color3: rgba(142, 183, 222, 1.0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #a7d2fa;
  background: linear-gradient( #a7d2fa, #a7d2fa, #1c468a) fixed;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  /* background: linear-gradient( #a7d2fa, #032254) fixed;*/
  background-color: #a7d2fa ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 35px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header img {
 margin: 0;
 padding: 0;
 size: 20px;
 height: 110px;
 width: 110px;
}

header a {
  text-decoration: none;
  color:  #2a2fa8;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  list-style: none;
  margin: 20px auto;
  padding: 20px;
}

header nav ul li a {
  padding: 30px 15px;
  margin: 20px auto;
  font-size: 16px;
  text-shadow: 0 0 10px rgba(150, 7, 88, 0.3);
}

footer {
  background-color: var(--tertiary-color);
  padding: 0 20px;
  font-weight: lighter;
  font-size: 1.2vh;
}

.flex-row {
  display: flex;
}
/* 
.section-title {
  /* font-size:30px
  color:#a7d2f6;
  font-size: 3.2vh;
  margin: 20px 20px 5px;
  padding: 0;
}*/

.project-name {
  font-size: 18px;
} 

.primary-border {
  border-left: 10px solid rgba(216, 99, 31, 1.0)
}

.secondary-border {
  border-right: 10px solid #960759;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #a7d2fa;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

/*   SECTION STYLES Start   */
.hero {
display: flex;
width: 100%;
justify-content: center;
flex-wrap: wrap;
margin: 20px 0;
}

.hero  h2 {
  width: 100%;
  text-align: center;
  font-size: 5vw;
  font-size: 7vh;
  color :#032254;
  padding-top: 120px;
  padding-bottom: 200px;
}


.three-kid-box {
  display: flex;
  width: 100%;
 border: 5px solid red;
 padding: 20px;
 margin: 30px;
}

.three-kid-box address,  .three-kid-box p, .three-kid-box form {
  height: 200px;
  padding: 2 rem;
  flex: 1;
  width: 33%;
  flex-shrink: 0;
  
 
/*   INTRO STYLE Starts  
.intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
height: 200px; 
 }

.intro p, .about-text p {
  margin: 40px 20px 20px;
  line-height: 1.5;
  font-size: 1.6vw;
  text-align: left;
  color: #a7d2fa;
  padding: 0;
} */ 
}