:root {
  /*--primary-color: #a7d2fa;*/
  --primary-color: rgba(167, 210, 250, 1.0); /* #a7d2fa8 */
  --secondary-color: rgba(42, 46, 168, 1.0); /* 2a2fa8 */
  --tertiary-color: rgba(3, 34, 84, 1.0);  /* #032254 */
  --accent-color1: rgba(216, 99, 31, 1.0); /* #d8631f */
  --accent-color2: rgba(150, 7, 88, 1.0); /* #960758 */
  
}

/*   RESET DEFSAULT BROWSER STYLES   */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}


body {
  color: #2a2fa8;
  background: linear-gradient( #a7d2fa, #a7d2fa, #1c468a) fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

button, input, textarea {
  background-color:  var( --primary-color);
  color: var(--secondary-color);
  border: 5px solid var(--tertiary-colorcolor);
  padding: 5px 15px;
  border-radius: 10px;
}

placeholder {
  color: var(--secondary-color);

}
/*  STANDARD IS MOBILE SIZE   */



/*  MQ FOR SMALL TABLETS & HUBS    */
@media screen and (max-width: 575px) {}



/* MQ FOR LARGER TABLETS & LAPTOPS     */
@media screen and (max-width: 960px){}



/*  MQ FOR DESKTOP COMPUTER SCREENS    */
@media screen and (max-width: 1200px){}