:root {
  --primary-color: #a7d2fa;
  --secondary-color: #2a2fa8;
  --tertiary-color: #032254;
  --accent-color1: #960759;
  --accent-color2: rgba(216, 99, 31, 0.4);
  --accent-color3: rgba(142, 183, 222, 1.0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2a2fa8;
  background: linear-gradient( #a7d2fa, #a7d2fa, #1c468a) fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.md2-logo-round img {
  margin: 0;
  padding: 0;
  size: 20px;
  height: 110px;
  width: 110px;
 } 

 .md2-logo-round-name {
   padding: 10px 0;
 }
  .md2-logo-round-name img {
   padding-bottom: 30px;
   max-width: 100%;
   height: auto;
 }

 header {
  background-color: #a7d2fa ;
  display: flex;
  justify-content: space-between;
  text-align: right;
  flex-wrap: wrap;
  /* padding: 10px 12px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  z-index: 999;
}


nav {
  padding: 0;
}
header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 /* align-items: center; */
 list-style: none;
 margin: 0;
 padding-top: 10px; 
}

header nav ul li {
padding: 0 0 0 20px;
}

header nav ul li a {
 font-size: 20px;
 text-shadow: 0 0 10px rgba(150, 7, 88, 0.3);
 text-decoration: none;
 color:  #2a2fa8;
}

footer  {
 text-align: center;
 font-size: 0.8em;
 padding: 20px;
 color: var(--primary-color);
 background-color: var(--tertiary-color);
}

/* @media TV and (min-width: 1200px){} */
/* 
@media  and (max-width: 960px) {
  
}

@media  and (max-width: 768px) {
  
}


@media  and (max-width: 575px) {
  
} */
